*credentials.tf
provider-variables.tf
provider-variables.tfvars
s3-backend.tf
s3-backend-config.tf
.terraform
*tfstate
*.tfvars
*.tfstate.backup
id_rsa
*.pem
data/docker-containers-volumes
src
certificate.*
env-htpasswd

.ddev/*
!.ddev/config.yaml

data/*
src/*